.App {
  text-align: center;
  width: 100%;
  display: flex;
}

.BookForm {
  width: 50%;
  text-align: right;
}

.BookForm p {
  margin: 2px;
}

.BookList-container {
  width: 50%;
  text-align: left;
  min-height: min-content;
}

.BookList {
  list-style-type: none;
  width: 400px;
  height: 200px;
  overflow: auto;
}
.BookButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
